* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
}

body {
    background-color: #84a5a5;
    border: 3px solid;
}
p{
    display: inline-block;
}

.fa-arrow-down{
    color: red;
}

.fa-arrow-up{
    color: green;
}

button {
    background-color: #97ffff;
    border: 1px solid #575862;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: #29ffb7;
}