//$base-color:#ed143a;
//$nav-bg-color: darkblue;
//$link-color: #fff;
//$default-radius: 10px;

$color-span-fontassome: #ecd407;
$bg-color-form: #001d8a;
$bg-color-input: #fff;
$color-button-and-textinput: black;
$bg-footer: #292929;