#kwadrat {
    position: absolute;
    height: 600px;
    width: 500px;
    background-color: green;
}
#kg1, #kg2, #kd1, #kd2 {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: orange;
}
.kolo1, .kolo2, .kolo3, .kolo4 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-style: solid;
    border-width: thin;
    background-color: blue;
    border-radius: 50%;
}  

.kk1{
   bottom: 0;
    right: 0; 
}
.kk2 {
    left: 0;
    bottom: 0;
}
.kk3 {
    top: 0;
    right: 0;
}