* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

div {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100vh;
    
}
p { 
    position: relative;
    font-size: 300px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);   
}
.liczba11 p {
    font-size: 200px;
}
span {
    color: red;
}
@keyframes odliczanie {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.liczba {
    animation-name: odliczanie;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.liczba9 {
    animation-delay: 1s;
}

.liczba8 {
    animation-delay: 2s;
}

.liczba7 {
    animation-delay: 3s;
}

.liczba6 {
    animation-delay: 4s;
}

.liczba5 {
    animation-delay: 5s;
}

.liczba4 {
    animation-delay: 6s;
}

.liczba3 {
    animation-delay: 7s;
}

.liczba2 {
    animation-delay: 8s;
}

.liczba1 {
    animation-delay: 9s;
}

.liczba11 {
    animation-duration: 10s;
    animation-delay: 10s;
}