* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: yellow;
    color: brown;
}

button, section {
    margin: 10px;
    font-size: 20px;
}

div {
    display: inline-block;
    border: 2px dashed orangered;
    background-color: orange;
}

div::first-line {
    color: brown;
    font-size: 24px;
    background-color: rgb(255, 242, 83);
}

button {
    border-radius: 5px;
    background-color: #ffd27f;
    border-color: orangered;
    padding: 10px;
}

button:hover {
     background-color: greenyellow;
}
