* {
    margin: 0;
}

#tekst1{
    color: red;
}

#tekst1:target{
    color:blue;
}

a {
    color:yellow;
}

a:visited { 
    color: orange; 
}

.clients-list div:nth-child(odd) {
    background-color: blue;
}

.clients-list div:nth-child(even) {
    background-color: pink;
}

.clients-list div:nth-child(5n+4) {
    background-color: yellow;
}