@media (min-width:992px) and (max-width:1170px){
    #image {
    background-image: url(obrazy/man-2.jpg);
    height: 70vh;
    background-size: cover;

    }
    
    p{
        left: 50%;
        top: 10vh;
    }    
}

@media (max-width:991px) {
    #image {
    height: 50vh;
}
    
    p{
        color: black;
        text-align: center;
        width: 100%;
        top: 100%;
        transform: translateY(0);
    }
}
