*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Verdana', sans-serif;
    color: white;
}

#image {
    position: absolute;
    background-image: url(obrazy/man-1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;

}

p{
    position: absolute;
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    
}
span {
    font-size: 35px;
    font-weight: 600;
}
