body {
    background-color: yellow;
}

h1 {
    background-color: orange;
}

h3 {
    background-color: pink;
}

.pierwszy {
    background-color: green;
}

.drugi {
    background-color: red;
}

li {
    background-color: black;
}